<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.test.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Home_page"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".loginSuccess"
            class=".loginSuccess"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".page1"
            class=".page1"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Admin"
            class=".Admin"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".EditUser"
            class=".EditUser"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".SignUp"
            class=".SignUp"
            android:label="@string/app_name">
        </activity>
        <service android:name=".MyService" />

    </application>

</manifest>
